  <script> src="public/js/ourscript.js" </script>

<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas color="black" id="canvas" width="640" height="480"></canvas>
{{{body}}}
