<div id = "sidebar" class="ui left demo vertical inverted visible  sidebar labeled icon menu">
  <a class="item">
    <img id="home_logo" class="center" src="img/image.png" height: "20px" width:"20px">
  </a>
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    MyCloset
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Fits
  </a>
  <a href="/celebfits"class="item">
    <i class="fits"></i>
    Celeb Fits
  </a>
</div>
<h1> Welcome {{{req.body.username}}}</h1>
