<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
        crossorigin="anonymous" />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Login</title>
</head>

<body>
    <div class="grid">
        <script src="\js\ourscript.js"></script>
        <img id="logo" class="center" src="img/image.png">

        <div id="login" class="ui center input">
            <input type="text" placeholder="Login...">
        </div>
        <a href="home"><button id="login_button" class="ui black button">Login</button></a>
    </div>

</body>

</html>